extends ../layout

block content
	.container
		.row
			.col-md-3
			.col-md-6
				form(method="POST", action="/user/signup")
					.modal-header(style="text-align:center") 注册
					.modal-body
						.form-group
							label(for="signupName_1") 用户名
							input#signupName_1.form-control(name="user[name]",type="text")
						.form-group
							label(for="signinPassword1_1") 密码
							input#signinPassword1_1.form-control(name="user[password]",type="password")
						.form-group
							label(for="signinPassword2_1") 重复密码
							input#signinPassword2_1.form-control(name="user[password]",type="password")
					.modal-footer
						p#matchpsd_1(style="color:red; display:none;float:left") 两次密码不匹配
						p#verifyUserName_1(style="color:red; display:none;float:left")
						button#subSignUp_1.btn.btn-success(type="submit", disabled="true") 提交
	//- script(src="/js/repeatpsd.js")

